{{ $walkId := now.UnixMicro }}

<div class="tab-pane fade" id='pills-{{ $walkId}}' role="tabpanel" aria-labelledby='pills-{{ $walkId }}-tab' tabindex="0">
  <h2>{{ .Params.name | safeHTML | htmlUnescape }}</h2>
  <div id='{{ $walkId }}-info'></div>
  {{ .Inner  }}
</div>

<script>
  var tab = document.createElement('li');
  tab.className = 'nav-item';
  tab.innerHTML = '<button class="nav-link" id="pills-{{ $walkId }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ $walkId }}" type="button" role="tab" aria-controls="pills-{{ $walkId }}" aria-selected="false">{{ .Params.name | safeHTML }}</button>'
  document.getElementById('pills-tab').appendChild(tab);

  {{ $urlpre := "https://api.ramsoc.co.uk/?url="}}
  {{ $dataJ := getJSON $urlpre (.Get "os") }}
  
  createRoute({{ $dataJ }}, {{ .Params.name | safeHTML }}, {{$walkId}}.toString());

  document.getElementById('{{$walkId}}-info').innerHTML = '<p>Distance: ' + ({{ index $dataJ 1 }} / 1000).toFixed(2) + 'km</p><p>Elevation: ' + ({{ index $dataJ 2 }}).toFixed(2) + 'm</p>'





</script>