{{ define "main" }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<div class="container my-3">
    <h1 class="display-4 text-center">Calendar</h1>
    <hr>
    <h2>Event Overview</h2>
    <div class="ratio ratio-4x3">
        <iframe id="open-web-calendar"
                style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat; border: 2px solid #ccc; border-radius: 4px;"
                src="https://open-web-calendar.hosted.quelltext.eu/calendar.html?url=https%3A%2F%2Framsoc.co.uk%2Fcalendar%2Findex.ics&amp;title=Rambling%20%26%20Hiking%20Calendar&amp;timezone=Europe%2FLondon&amp;css=.dhx_cal_navline%2C%20.dhx_scale_bar%2C%20.dhx_cal_container%2C%20.dhx_cal_header%20%7Bbackground-color%3A%20%23DEB408%3B%7D%0A.event%2C%20.dhx_cal_tab.active%2C%20.dhx_cal_tab.active%3Ahover%20%7Bbackground-color%3A%20%23065434%3B%7D%20.dhx_month_head%2C%20.dhx_cal_tab%2C%20.dhx_cal_today_button%20%7Bcolor%3A%20%23065434%3B%7D%20.dhx_cal_tab%2C%20.dhx_cal_tab.active%20%7Bborder-color%3A%20%23065434%3B%7D%0A.event%7B%0Acolor%3Awhite%3B%0A%7D%0A.dhx_cal_qi_title%7B%0Abackground-color%3A%20%23DEB408%3B%0A%7D&amp;tabs="
                sandbox="allow-scripts allow-same-origin allow-top-navigation"
                allowTransparency="true" height="600px" width="100%"></iframe>
    </div>
        <h2>Subscribing To Calendar</h2>
    <ul class="list-group list-group my-3">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Socials</div>
                <pre><code id="socialCode" class="text-wrap text-break">https://ramsoc.co.uk/socials/index.ics</code></pre>
            </div>
            <button class="btn btn-uongreen btn-sm" data-clipboard-target="#socialCode" data-bs-toggle="popover" data-bs-content="Copied" data-bs-trigger="focus">
                <i class="bi bi-clipboard"></i>
            </button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Walks</div>
                <pre><code id="walkCode" class="text-wrap text-break">https://ramsoc.co.uk/walks/index.ics</code></pre>
            </div>
            <button class="btn btn-uongreen btn-sm" data-clipboard-target="#walkCode" data-bs-toggle="popover" data-bs-content="Copied" data-bs-trigger="focus">
                <i class="bi bi-clipboard"></i>
            </button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Socials & Walks</div>
                <pre><code id="bothCode" class="text-wrap text-break">https://calendar.ramsoc.co.uk</code></pre>
            </div>
            <button class="btn btn-uongreen btn-sm" data-clipboard-target="#bothCode" data-bs-toggle="popover" data-bs-content="Copied" data-bs-trigger="focus">
                <i class="bi bi-clipboard"></i>
            </button>
        </li>
    </ul>
    <ol>
        <li>Login to your calendar.</li>
        <li>Add URL to calendar.</li>
        <ul>
            <li>
                Google Calander: Click the <code>other calendars</code> down arrow. Add from URL.
            </li>
            <li>
                Office 365/Outlook: Click the <code>add calendar</code> button. Select from internet
            </li>
        </ul>
        <li>Copy a URL from above, ensuring it is exact.</li>
        <ul>
            <li>Do not download the calendar as it will not update automatically</li>
        </ul>
        <li>Save the calendar subscription.</li>
        <li>Calendar will now be displayed in your chosen applicaiton.</li>
    </ol>
    <p>If you're struggling to add the calendar to your calendar app, ask committee at your next event</p>
</div>

<script>
    new ClipboardJS('.btn');
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    const popover = new bootstrap.Popover('.popover-dismiss', {
        trigger: 'focus'
    })


</script>

{{ end }}