{{ define "main" }}
<div id='map' style='width: 100%; height: 300px;'></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css' rel='stylesheet' />
<div class="container my-3">
    <div class="row ">
        <h1 class="display-4 col-md-9 col-7">{{ .Title }} | {{ .Date.Format "Mon 02 Jan 2006" }}</h1>
        {{ if isset .Params "photo_link" }}
        <div class="col-md-1 col-2 align-self-center d-flex justify-content-center">
            <a href="{{ .Params.photo_link }}"><img src="/img/Google-Photos-logo.png" width="45"></a>
        </div>
        {{ end }}
        {{ if (isset .Params "ticket_link") }}
        <div class="col-md-2 col-3 align-self-center d-flex justify-content-center ">
        {{ if ge .Date (time.Now)}}
            <button type="button" class="btn btn-primary btn-uongreen"
                onclick="location.href='{{ .Params.ticket_link }}';">Buy Ticket</button>
                {{ else }}
                <button type="button" class="btn btn-primary btn-uongreen disabled" disabled>Buy Ticket</button>
                {{ end }}
            </div>
        {{ end }}
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 order-md-1 order-2">
            {{ .Content }}
        </div>
        {{ with .Resources.GetMatch "cover.*" }}
        {{ with .Fill "500x400" }}
        <div class="col-md-6 order-md-2 order-1">
            <img class="img-fluid" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGFuLWxlZTc2IiwiYSI6ImNsaXJ4d3N3azE3M3Mza28xdnVmdGxwczcifQ.j0THIt59Yt7D6qG1WKXTPg';
    const colors = ['#443c90','#d40058','#33691f', '#ffc108', '#0298ce'];
    const start = ['{{ .Params.lng }}', '{{ .Params.lat }}']
    var i = 0;
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/dan-lee76/cliry1gm600nw01qv1p9f20fm', // style URL
        center: start, // starting position [lng, lat]
        zoom: 11, // starting zoom
    }).addControl(new mapboxgl.FullscreenControl()).addControl(new mapboxgl.NavigationControl()).addControl(new mapboxgl.ScaleControl());
    const marker = new mapboxgl.Marker({ color: "#065434", })
        .setLngLat(start)
        .addTo(map);
</script>
{{ end }}